* {
  font-family: "Roboto Mono";
  font-weight: bold;
  font-size: 13px;
}

@import "../../.cache/wal/colors-waybar.css";

window#waybar {
  background: transparent;
  color: @color7;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @background;
  margin: 5px 10px;
  padding: 5px 5px;
  border-radius: 15px;
  border: 3px solid @color2;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  border-radius: 15px;
}

#clock {
  background-color: @background;
  font-weight: 700;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#custom-power:hover,
#tray:hover,
#mode:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#mpd:hover {
  background-color: @color2;
  color: @background;
  border-radius: 12px;
  transition: all 0.3s ease;
}

#workspaces button {
  background: transparent;
  font-weight: 900;
  font-size: 13pt;
  color: @color7;
  border: none;
  border-radius: 12px;
  padding: 0 5px;
  margin: 0 2px;
}

#workspaces button.active {
  background-color: @color2;
  color: @background;
  padding: 0 12px;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
}

#workspaces button.active:hover {
  background-color: @color2;
  box-shadow: none;
}

#custom-arch {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 25px;
}

#custom-arch:hover {
  color: @color2;
  text-shadow: 0 0 5px alpha(@color2, 0.5);
}

#custom-power {
  background-color: transparent;
  border-radius: 14px;
  padding: 6px;
  margin-right: 5px;
}

#custom-power:hover {
  color: #f38ba8;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
  animation: blink 1s infinite;
}

@keyframes blink {
  to {
    color: @color7;
  }
}

#tray {
  padding: 0 8px;
}

tooltip {
  background: @background;
  border: 2px solid @color7;
  border-radius: 10px;
}

tooltip label {
  color: @color7;
}
